[Unit]
Description=Environment Variable Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/envd /etc/envd/server.yml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
